## This contains configuration for device_d server.
## Each line should contain pairs of words:
## <parameter name> <parameter value>
## Words can be quoted and contain escape sequences if needed.
## Character `#` is used for comments.
##
## Supported settings:
##   addr, port, logfile, pidfile, devfile, verbose.
## Can be overriden by corresponding command-line options.

## These are default settings. Modify and uncomment if needed

#addr  127.0.0.1   # which addres to listen. Use * to listen all.
#port  8082        # port
#verbose  1
#devfile  /etc/device2/devices.cfg
