[Unit]
Description=Device2 server

[Service]
Restart=always
RestartSec=1
ExecStart=device_d
ExecReload=device_d --stop

[Install]
WantedBy=multi-user.target
