#!/usr/bin/make -f

DESTDIR=debian/package
binary-arch:
	$(checkdir)
	$(checkroot)

	$(MAKE)
	$(MAKE) install DESTDIR=$(DESTDIR)
	strip $(DESTDIR)/usr/bin/*

	mkdir -p $(DESTDIR)/usr/share/tcltk/tk8.6/
	mv $(DESTDIR)/usr/share/tcl/Device2 $(DESTDIR)/usr/share/tcltk/tk8.6/
	rmdir $(DESTDIR)/usr/share/tcl

	# Install Program Resources
	mkdir $(DESTDIR)/DEBIAN
	dpkg-gencontrol -P$(DESTDIR)
	[ ! -f debian/conffiles ] || cp debian/conffiles  $(DESTDIR)/DEBIAN/conffiles
	cd $(DESTDIR) && find . -type f ! -regex '.*DEBIAN/.*' -printf '%P\0' | xargs -r0 md5sum > DEBIAN/md5sums
	dpkg-deb -b $(DESTDIR) ../

# Below here is fairly generic really
binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep clean build
